<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Записи ЖКХ</title>
</head>
<body>
<form method="post" action="/recordJkh">
    <table>
        <tr>
            <td>
                <h3>Добавление записи ЖКХ</h3>
                <h4>
                    <label>Напишите дату:
                        <input name="dateRecordings" type="date">
                    </label>
                </h4>
                <h4>
                    <label>Выберите № услуги:
                        <input type="number" step="1" min="1" max="6" value="1" name="idNameUtilities"
                               placeholder="например: 4">
                    </label>
                </h4>
                <h4>
                    <label>Выберите № записи:
                        <input type="number" step="1" min="1" max="2" value="1" name="idPaymentAndRecording"
                               placeholder="например: 2">
                    </label>
                </h4>
                <h4>
                    <label>Запись:
                        <input type="number" step="0.001" min="0" name="record" placeholder="например: 1984.393">
                    </label>
                </h4>
                <input type="submit" value="Сохранить данные">
            </td>
            <td width="30px">
            </td>
            <th>
                <p>№ коммунальной услуги:</p>
                <h5>1- Газ, 2- Электричество, 3- Холодная вода</h5>
                <h5>4- Горячая вода, 5- Отопление, 6- Капремонт</h5>
                <p>№ записи:</p>
                <h5>1 - Сумма оплаты, 2 - Данные с счетчиков</h5>
            </th>
        </tr>
    </table>
</form>
<form>
    <h3></h3>
    <a href="/signIn">Выйти из это этого не доработанного сайта!!!</a>
</form>
<h3>Сохранные данные:</h3>
<table>
    <tr>
        <th>Дата</th>
        <th>№ коммунальной услуги</th>
        <th>№ записи</th>
        <th>Запись</th>
    </tr>
    <#list recordJkh as recordings>
        <tr>
            <th>${recordings.dateRecordings}</th>
            <th>${recordings.idNameUtilities}</th>
            <th>${recordings.idPaymentAndRecording}</th>
            <th>${recordings.record}</th>
            <td>
                <form action="/recordJkh/${recordings.id}">
                    <input type="submit" value="Исправить данные">
                </form>
            </td>
            <td>
                <form method="post" action="/recordJkh/${recordings.id}/delete">
                    <input type="submit" value="Удалить">
                </form>
            </td>
        </tr>
    </#list>
</table>
</body>
</html>
